<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Suite for Annotations Testing">
  <test verbose="2" name="Smoke Test">
    <classes>
      <class name="practiceTestNG.PracticeTestNG"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->